body {
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/016/776/606/small/realistic-valentines-day-red-background-with-hearth-vector.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    overflow: hidden;
}
.container {
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.next-btn, .no-btn, .choco-btn, .screenshot-btn {
    background: pink;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}
.no-btn {
    position: relative;
}
.shake {
    animation: shake 0.5s infinite;
}
@keyframes shake {
    0% { 
        transform: translateX(0); 
    }
    25% { 
        transform: translateX(-5px); 
    }
    50% { 
        transform: translateX(5px); 
    }
    75% { 
        transform: translateX(-5px); 
    }
    100% { 
        transform: translateX(5px); 
    }
}
.chat-box {
    margin-top: 20px;
    display: none;
    width: 50%;
    text-align: center;
}
.chat {
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.chat img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-right: 10px;
}
.chat.reply {
    flex-direction: row-reverse;
    text-align: right;
}
.hidden { 
    display: none; 
}
.big-btn { 
    font-size: 1.5em; 
}
.move-away { 
    position: absolute; 
    transition: 0.3s; 
}
.warning-text { 
    background-color: white;
    color: salmon; 
    font-weight: bold; 
    margin-top: 10px; 
}
#tenChoco {
    position: absolute;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.img-cover{
    width: 150px; 
    height: auto; 
    border-radius: 10px;
}
.p-cover{
    max-width: 300px; 
    text-align: center; 
    font-size: 18px; 
    margin: 0;
}
#cover{
    display: flex; 
    align-items: center; 
    gap: 15px; padding: 15px; 
    max-width: 500px; 
    background: white; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.div-text{
    display: flex; 
    flex-direction: column; 
    align-items: center;
}
.div-button-cover{
    margin-top: 10px;
}
#warning{
    display: none; 
    color: red; 
    margin-top: 10px; 
    text-align: center;
}


@media (max-width: 480px) {
    .chat-box {
        margin-top: 20px;
        display: none;
        width: 50%;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
    }
}
